#one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
#data-wrapper {display: none;}
.results {
    background-color: blanchedalmond;
    font-weight: bold;
    color: #bf6004;
}
.wrapper {
    padding-bottom: 30px;
}