@{
    ViewData["Title"] = "Home Page";
}
<div id="one" class="stage">
    <input id="fileInput" type="file" onchange="handleCsv(this.files)" />
</div>
<div id="loadingPanel">
    Loading Panel, displays after pressing load button 
</div>
<div class="data-wrapper">
    <select id="filterDropdown">
        <option value="all">All</option>
    </select>
    <div id="dataDisplay">
        Data loaded will display here
    </div>
</div>